[build]
    publish = "./build"
    command = "pnpm run build || ( npm install pnpm turbo && pnpm i --no-frozen-lockfile && npx turbo run build --scope=docs --include-dependencies --no-deps)"
[build.environment]
  NODE_VERSION = "14"
  NPM_FLAGS = "--prefix=/dev/null"
    